<div class="sidebar left">
    <ul>
        <li><a href="/"><span class="label label-danger">Posts</span></a></li>
        <li><a href="http://twitter.com/nelson_senna" target="_blank"><span class="label label-warning">Twitter</span></a></li>
        <li><a href="http://github.com/nelsonsar" target="_blank"><span class="label label-info">Github</span></a></li>
        <li><a href="http://tudomudarnec.blogspot.com.br/" target="_blank"><span class="label label-success">Viagens</span></a></li>
        <li><a href="https://about.me/nelsonsar" target="_blank"><span class="label label-default">About me</span></a></li>
    </ul>
</div>
