---
---

$base-font-family: "Overpass Mono", monospace;
$text-color:       #2d2d2c;
$background-color: #fdfdfd;
$brand-color:      #1C92F2;

$orange-color:     #f9a824;

@import "minima";

body {
    font-size: 1.2em;
}

.page-content h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}
